.social a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.4s ease;
}

.social a:hover {
    color: orange;
}
.social {
    font-weight: bold;
    font-size: 25px;
    color: black;
}